.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.loader {
  display: inline-block;
  position: relative;
}

.loader__spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #764ba2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.loader--small .loader__spinner {
  width: 24px;
  height: 24px;
  border-width: 2px;
}

.loader--large .loader__spinner {
  width: 60px;
  height: 60px;
  border-width: 4px;
}

.loader__message {
  margin-top: 1rem;
  color: #666;
  font-size: 0.875rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}