# MongoDB
MONGO_USER=admin
MONGO_PASSWORD=your_secure_password_here

# Backend
JWT_SECRET=your_super_secret_jwt_key_here
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:5001/api
VITE_WS_URL=ws://localhost:5001


# FRONTEND_URL=https://yourdomain.com
# VITE_API_URL=https://api.yourdomain.com
# VITE_WS_URL=wss://api.yourdomain.com