PORT=5001
MONGODB_URI=mongodb://localhost:27017/foodiesnap
MONGODB_TEST_URI=mongodb://localhost:27017/foodie_snap_test
JWT_SECRET=your-super-secret-jwt-key-change-this
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:5173
MEALDB_API_URL = 'https://www.themealdb.com/api/json/v1/1'
RATE_LIMIT_MAX_REQUESTS=100
NODE_ENV=development